#idResultado{
    background-color: blue;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
}
.tablal{
    margin-left: auto;
margin-right: auto;
text-align: center;

}

img{
    margin: auto;
    }